body{
            background-color: rgb(15, 41, 15);
            color: white;
            font: 20px Arial;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: white;
        }

         hr{
            width: 500px;
            margin-top: 20px;
        }
        footer{
            font-style: italic;
            margin-top: 200px;
            text-align: right;
        }